$colors: (
  neutral: (
    100: #e6e5ea, 
    200: #817d92, 
    300: #24232c, 
    400: #18171f  
  ),
  accent: (
    100: #f8cd65, // Yellow (Brightest)
    200: #a4ffaf, // Green
    300: #fb7c58, // Orange
    400: #f64a4a  // Red (Darkest)
  )
);
