@use "../abstracts/" as *;

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: $fw-700;
  font-size: fs(400);
  color: clr(neutral, 100);
  line-height: 1.5;
  background-color: clr(neutral, 400);

 
}

h1 {
  
  font-size: 28px;
  color: clr(neutral, 200);
}

main {
  padding: 1rem;
}

.app {
  // border: 2px solid black;
  max-width: 540px;
  margin: 0 auto;
}

.pw-box {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  // border: 1px solid red;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  align-items: center;
  background-color: clr(neutral, 300);
}

.controls {
  background-color: clr(neutral, 300);
  padding: 1.5rem;


  &__character-container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;
    }

    &__slidecontainer{
      grid-column: 1/-1;
      margin-bottom: 32px;
      margin-top: -10px;
    }

    &__number {
      text-align: right;
      font-size: 32px;
      color: clr(accent, 200);
    }

    &__character-text {
      align-self: center;
      // font-size: fs(400);
    }
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    gap:1rem;
    
  }

  .checkbox {
    cursor: pointer;
  }

  .checkbox-container {
    display: flex;
    gap: 1.5rem;
  }

 

  // Strength

  .strength-box {
    display: flex;
    justify-content: space-between;
    background-color: clr(neutral, 400);
    padding: 1.7rem;
    margin-top: 20px;
    margin-bottom: 20px;

    &__p {
      text-transform: uppercase;
      color: clr(neutral, 200);
    }

    &__current {
      margin-right: 1rem;
    }

    &__right-content {
      display: flex;
    }

    &__bar-container {
      display: flex;
      gap: 0.4rem;
    }

    &__bar {
      width: 10px;
      height: 28px;
      border: 2px solid white;

    }

    @include mq(small) {
      padding: 1.5rem;
      
    }

    @include mq(smallest) {
      padding: 0.8rem;
      font-size: 15px;
      
    }

  }

  input[type="checkbox"] {
    appearance: none;
   
    border: 2px solid clr(neutral, 100);
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  input[type="checkbox"]:hover {
    border: 2px solid clr(accent, 200);
  }

  input[type="checkbox"]:checked {
    background: url('/assets/images/icon-check.svg');
    background-size: 65%, cover; 
    background-position: 60% 60%;
    background-repeat: no-repeat;
    background-color: clr(accent, 200);
    border: 0;
  }


  .button {
    padding: 1.5rem;
    cursor: pointer;
    background-color: clr(accent, 200);
    border: 0;
    text-transform: uppercase;
    // background-image: url("/assets/images/icon-arrow-right.svg");
    // background-repeat: no-repeat;
    // background-position: 320px;
   

      
  }

  .button::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('/assets/images/icon-arrow-right.svg');
    background-size: contain;
    margin-left: 0.5rem;
  }

  .button-copy {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  #box-1,
  #box-2,
  #box-3 {
    background-color: clr(accent, 100);
    border: 0;
  }



//OLD
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      width: 100%;
      height: 8px;
      -webkit-appearance: none;
      background-color:clr(neutral, 400);
      cursor: pointer ;
    }
    
}
// /** FF*/
// input[type="range"]::-moz-range-progress {
//   background-color:clr(accent, 200);
//   height: 8px;
// }
// input[type="range"]::-moz-range-track {  
//   background-color:clr(neutral, 400);
//   height: 10px;
// }

// input[type="range"]::-moz-range-thumb {
//   height: 28px;
//   width: 28px;
//   border-radius: 50%;
//   -moz-appearance: none;
// }

// input[type='range']::-webkit-slider-runnable-track {
//   height: 8px;
//   background-color: clr(neutral, 400); /* Default track color */
// }

// input[type='range']::-webkit-slider-thumb {
//   -webkit-appearance: none; /* Remove default thumb styling */
//   appearance: none;
//   height: 28px;
//   width: 28px;
//   background-color: white;
//   border: 2px solid clr(neutral, 400);
//   border-radius: 50%;
//   cursor: pointer;
//   margin-top: -10px; /* Center thumb vertically */
//   position: relative;
//   z-index: 2; /* Ensure it appears above the track */
// }
